.homepage {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .div-2 {
    background-color: #ffffff;
    height: 5536px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  